In [3]:
import pandas as pd
import numpy as np
print("DataFrame.apply Function:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\nOrignal DataFrame:\n",info)
print("\nSquare root of DataFrame:\n",info.apply(np.sqrt))
print("\nSum of each Column:\n",info.apply(np.sum,axis=0))
print("\nSum of each row:\n", info.apply(np.sum,axis=1))

DataFrame.apply Function:


Orignal DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

Square root of DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

Sum of each Column:
 S    12
R    36
dtype: int64

Sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [4]:
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]])
col=['X','Y','Z']
print("Original DataFrame:\n",info)
print("\nMinimum & Maximum of each column:\n")
print(info.agg(['min','max']))

Original DataFrame:
    0  1  2
0  2  4  6
1  1  3  5
2  5  8  7

Minimum & Maximum of each column:

     0  1  2
min  1  3  5
max  5  8  7

In [7]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]])
print(info)
print(info.agg(['min','max']))
d2=pd.DataFrame([['sai',88],['poo',70]])
column=['emp','id']
print (d2)

   0  1  2
0  2  4  6
1  1  3  5
2  5  8  7
     0  1  2
min  1  3  5
max  5  8  7
     0   1
0  sai  88
1  poo  70

In [9]:
#adding new column
d2['age']=[20,18]
print(d2)
d=d2.assign(sex=['male','female'])
print(d)

     0   1  age
0  sai  88   20
1  poo  70   18
     0   1  age     sex
0  sai  88   20    male
1  poo  70   18  female

In [14]:
#sorting
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
info3=info.sort_values(by='col3')
print(info3)
print(info2)

       col3      col4
3 -2.090014  0.508408
2 -1.274850 -1.782700
0  0.938266 -0.349794
4  0.096743  0.444911
1  0.828114 -0.391507
       col3      col4
3 -2.090014  0.508408
2 -1.274850 -1.782700
4  0.096743  0.444911
1  0.828114 -0.391507
0  0.938266 -0.349794
       col3      col4
0  0.938266 -0.349794
1  0.828114 -0.391507
2 -1.274850 -1.782700
3 -2.090014  0.508408
4  0.096743  0.444911

In [18]:
left=pd.DataFrame({'id':[1,2,3],'name':['sai','bala','kar'],'sub':['sub1','sub2','sub3']})
right=pd.DataFrame({'id':[1,2,3],'name':['aravind','harish','kailash'],'sub':['sub4','sub5','sub6']})
print(pd.merge(left,right,on='id'))

   id name_x sub_x   name_y sub_y
0   1    sai  sub1  aravind  sub4
1   2   bala  sub2   harish  sub5
2   3    kar  sub3  kailash  sub6